body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
  background:inherit;
  background-color:rgba(58, 110, 165, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5629 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
}
#u5630 {
  position:absolute;
  left:2px;
  top:32px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:760px;
  background:inherit;
  background-color:rgba(247, 251, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5631 {
  position:absolute;
  left:0px;
  top:80px;
  width:140px;
  height:760px;
}
#u5632 {
  position:absolute;
  left:2px;
  top:372px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5633 {
  position:absolute;
  left:34px;
  top:29px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5634 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:30px;
  background:inherit;
  background-color:rgba(226, 233, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5635 {
  position:absolute;
  left:140px;
  top:80px;
  width:1160px;
  height:30px;
}
#u5636 {
  position:absolute;
  left:2px;
  top:7px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5637_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:91px;
  height:41px;
}
#u5637 {
  position:absolute;
  left:260px;
  top:50px;
  width:80px;
  height:30px;
}
#u5638 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u5639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u5639 {
  position:absolute;
  left:30px;
  top:213px;
  width:110px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3A6EA5;
  text-align:left;
}
#u5640 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u5641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(73, 140, 208, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5641 {
  position:absolute;
  left:160px;
  top:130px;
  width:90px;
  height:30px;
  font-size:12px;
}
#u5642 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u5643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:30px;
  background:inherit;
  background-color:rgba(226, 233, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5643 {
  position:absolute;
  left:160px;
  top:220px;
  width:1140px;
  height:30px;
}
#u5644 {
  position:absolute;
  left:2px;
  top:7px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5645 {
  position:absolute;
  left:193px;
  top:228px;
  width:13px;
  height:15px;
  font-size:12px;
}
#u5646 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5647 {
  position:absolute;
  left:310px;
  top:228px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u5648 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5649 {
  position:absolute;
  left:1223px;
  top:228px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u5650 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5651 {
  position:absolute;
  left:233px;
  top:228px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u5652 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 252, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 190, 122, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5653 {
  position:absolute;
  left:160px;
  top:171px;
  width:1140px;
  height:40px;
}
#u5654 {
  position:absolute;
  left:2px;
  top:12px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5655 {
  position:absolute;
  left:196px;
  top:180px;
  width:96px;
  height:22px;
}
#u5655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u5655_input:disabled {
  color:grayText;
}
#u5656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(73, 140, 208, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:12px;
}
#u5656 {
  position:absolute;
  left:970px;
  top:176px;
  width:80px;
  height:30px;
  font-size:12px;
}
#u5657 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u5658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5658 {
  position:absolute;
  left:193px;
  top:260px;
  width:8px;
  height:15px;
  font-size:12px;
}
#u5659 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u5660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5660 {
  position:absolute;
  left:310px;
  top:260px;
  width:73px;
  height:15px;
  font-size:12px;
}
#u5661 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5662 {
  position:absolute;
  left:1223px;
  top:260px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u5663 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5664 {
  position:absolute;
  left:233px;
  top:260px;
  width:22px;
  height:15px;
  font-size:12px;
}
#u5665 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u5666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u5666 {
  position:absolute;
  left:160px;
  top:281px;
  width:1140px;
  height:1px;
}
#u5667 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5668 {
  position:absolute;
  left:193px;
  top:292px;
  width:8px;
  height:15px;
  font-size:12px;
}
#u5669 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u5670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5670 {
  position:absolute;
  left:310px;
  top:292px;
  width:43px;
  height:15px;
  font-size:12px;
}
#u5671 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5672 {
  position:absolute;
  left:1223px;
  top:292px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u5673 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5674 {
  position:absolute;
  left:233px;
  top:292px;
  width:22px;
  height:15px;
  font-size:12px;
}
#u5675 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u5676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u5676 {
  position:absolute;
  left:160px;
  top:313px;
  width:1140px;
  height:1px;
}
#u5677 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5678 {
  position:absolute;
  left:193px;
  top:324px;
  width:8px;
  height:15px;
  font-size:12px;
}
#u5679 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u5680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5680 {
  position:absolute;
  left:310px;
  top:324px;
  width:76px;
  height:15px;
  font-size:12px;
}
#u5681 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u5682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5682 {
  position:absolute;
  left:1223px;
  top:324px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u5683 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5684 {
  position:absolute;
  left:233px;
  top:324px;
  width:22px;
  height:15px;
  font-size:12px;
}
#u5685 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u5686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u5686 {
  position:absolute;
  left:160px;
  top:345px;
  width:1140px;
  height:1px;
}
#u5687 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5688 {
  position:absolute;
  left:193px;
  top:356px;
  width:8px;
  height:15px;
  font-size:12px;
}
#u5689 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u5690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5690 {
  position:absolute;
  left:310px;
  top:356px;
  width:54px;
  height:15px;
  font-size:12px;
}
#u5691 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u5692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5692 {
  position:absolute;
  left:1223px;
  top:356px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u5693 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5694 {
  position:absolute;
  left:233px;
  top:356px;
  width:22px;
  height:15px;
  font-size:12px;
}
#u5695 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u5696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u5696 {
  position:absolute;
  left:160px;
  top:377px;
  width:1140px;
  height:1px;
}
#u5697 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5698 {
  position:absolute;
  left:193px;
  top:444px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u5699 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u5700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5700 {
  position:absolute;
  left:233px;
  top:446px;
  width:400px;
  height:16px;
}
#u5701 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u5702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5702 {
  position:absolute;
  left:193px;
  top:490px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u5703 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u5704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5704 {
  position:absolute;
  left:233px;
  top:492px;
  width:400px;
  height:16px;
}
#u5705 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u5706 {
  position:absolute;
  left:310px;
  top:180px;
  width:152px;
  height:22px;
}
#u5706_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5707 {
  position:absolute;
  left:160px;
  top:15px;
  width:168px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u5708 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u5709_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:91px;
  height:41px;
}
#u5709 {
  position:absolute;
  left:160px;
  top:50px;
  width:80px;
  height:30px;
}
#u5710 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u5711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5711 {
  position:absolute;
  left:1151px;
  top:228px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u5712 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#66CC66;
}
#u5713 {
  position:absolute;
  left:1151px;
  top:260px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#66CC66;
}
#u5714 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5715 {
  position:absolute;
  left:1151px;
  top:292px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u5716 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u5717 {
  position:absolute;
  left:1151px;
  top:324px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u5718 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#66CC66;
}
#u5719 {
  position:absolute;
  left:1151px;
  top:356px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#66CC66;
}
#u5720 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5721 {
  position:absolute;
  left:670px;
  top:228px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u5722 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5723 {
  position:absolute;
  left:787px;
  top:228px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u5724 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5725 {
  position:absolute;
  left:670px;
  top:260px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u5726 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5727 {
  position:absolute;
  left:787px;
  top:260px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u5728 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5729 {
  position:absolute;
  left:670px;
  top:292px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u5730 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5731 {
  position:absolute;
  left:787px;
  top:292px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u5732 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5733 {
  position:absolute;
  left:670px;
  top:324px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u5734 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5735 {
  position:absolute;
  left:787px;
  top:324px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u5736 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5737 {
  position:absolute;
  left:670px;
  top:356px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u5738 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5739 {
  position:absolute;
  left:787px;
  top:356px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u5740 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(226, 233, 234, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3A6EA5;
}
#u5741 {
  position:absolute;
  left:458px;
  top:50px;
  width:80px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3A6EA5;
}
#u5742 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u5743_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:91px;
  height:41px;
}
#u5743 {
  position:absolute;
  left:360px;
  top:50px;
  width:80px;
  height:30px;
}
#u5744 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u5745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5745 {
  position:absolute;
  left:420px;
  top:228px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u5746 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5747 {
  position:absolute;
  left:420px;
  top:260px;
  width:134px;
  height:15px;
  font-size:12px;
}
#u5748 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5749 {
  position:absolute;
  left:420px;
  top:292px;
  width:134px;
  height:15px;
  font-size:12px;
}
#u5750 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5751 {
  position:absolute;
  left:420px;
  top:324px;
  width:134px;
  height:15px;
  font-size:12px;
}
#u5752 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5753 {
  position:absolute;
  left:420px;
  top:356px;
  width:134px;
  height:15px;
  font-size:12px;
}
#u5754 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5755 {
  position:absolute;
  left:580px;
  top:228px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u5756 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5757 {
  position:absolute;
  left:580px;
  top:260px;
  width:32px;
  height:15px;
  font-size:12px;
}
#u5758 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u5759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5759 {
  position:absolute;
  left:580px;
  top:292px;
  width:39px;
  height:15px;
  font-size:12px;
}
#u5760 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u5761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5761 {
  position:absolute;
  left:580px;
  top:324px;
  width:32px;
  height:15px;
  font-size:12px;
}
#u5762 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u5763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5763 {
  position:absolute;
  left:580px;
  top:356px;
  width:140px;
  height:15px;
  font-size:12px;
}
#u5764 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u5765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5765 {
  position:absolute;
  left:1258px;
  top:324px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u5766 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u5767 {
  position:absolute;
  left:48px;
  top:128px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u5768 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u5769 {
  position:absolute;
  left:49px;
  top:171px;
  width:51px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u5770 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u5771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5771 {
  position:absolute;
  left:1040px;
  top:228px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u5772 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5773 {
  position:absolute;
  left:1064px;
  top:260px;
  width:15px;
  height:15px;
}
#u5774 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5775 {
  position:absolute;
  left:1064px;
  top:292px;
  width:15px;
  height:15px;
}
#u5776 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5777 {
  position:absolute;
  left:1064px;
  top:324px;
  width:15px;
  height:15px;
}
#u5778 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5779 {
  position:absolute;
  left:1064px;
  top:356px;
  width:15px;
  height:15px;
}
#u5780 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5781 {
  position:absolute;
  left:556px;
  top:181px;
  width:152px;
  height:22px;
}
#u5781_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5782 {
  position:absolute;
  left:509px;
  top:185px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u5783 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5784 {
  position:absolute;
  left:748px;
  top:181px;
  width:152px;
  height:22px;
}
#u5784_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5785 {
  position:absolute;
  left:690px;
  top:184px;
  width:16px;
  height:16px;
}
#u5786 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5787 {
  position:absolute;
  left:881px;
  top:184px;
  width:16px;
  height:16px;
}
#u5788 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5789 {
  position:absolute;
  left:725px;
  top:185px;
  width:5px;
  height:15px;
  font-size:12px;
}
#u5790 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u5791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5791 {
  position:absolute;
  left:920px;
  top:228px;
  width:31px;
  height:15px;
  font-size:12px;
}
#u5792 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u5793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5793 {
  position:absolute;
  left:920px;
  top:260px;
  width:57px;
  height:15px;
  font-size:12px;
}
#u5794 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5795 {
  position:absolute;
  left:920px;
  top:324px;
  width:43px;
  height:15px;
  font-size:12px;
}
#u5796 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5797 {
  position:absolute;
  left:920px;
  top:356px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u5798 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u5799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5799 {
  position:absolute;
  left:193px;
  top:540px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u5800 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u5801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u5801 {
  position:absolute;
  left:233px;
  top:542px;
  width:400px;
  height:100px;
  line-height:20px;
}
#u5802 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u5803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5803 {
  position:absolute;
  left:770px;
  top:400px;
  width:452px;
  height:100px;
}
#u5804 {
  position:absolute;
  left:2px;
  top:42px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u5805 {
  position:absolute;
  left:980px;
  top:415px;
  width:32px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u5806 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u5807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5807 {
  position:absolute;
  left:869px;
  top:443px;
  width:254px;
  height:15px;
  font-size:12px;
}
#u5808 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u5809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5809 {
  position:absolute;
  left:963px;
  top:468px;
  width:66px;
  height:22px;
  font-size:12px;
}
#u5810 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u5811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5811 {
  position:absolute;
  left:770px;
  top:510px;
  width:264px;
  height:100px;
}
#u5812 {
  position:absolute;
  left:2px;
  top:42px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u5813 {
  position:absolute;
  left:890px;
  top:523px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u5814 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5815 {
  position:absolute;
  left:860px;
  top:551px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u5816 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5817 {
  position:absolute;
  left:869px;
  top:576px;
  width:66px;
  height:22px;
  font-size:12px;
}
#u5818 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u5819 {
  position:absolute;
  left:1236px;
  top:371px;
  width:0px;
  height:0px;
}
#u5819_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:83px;
}
#u5819_seg1 {
  position:absolute;
  left:-14px;
  top:75px;
  width:18px;
  height:8px;
}
#u5819_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u5819_seg3 {
  position:absolute;
  left:-21px;
  top:69px;
  width:20px;
  height:20px;
}
#u5820 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5821 {
  position:absolute;
  left:1271px;
  top:339px;
  width:0px;
  height:0px;
}
#u5821_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:225px;
}
#u5821_seg1 {
  position:absolute;
  left:-237px;
  top:217px;
  width:241px;
  height:8px;
}
#u5821_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u5821_seg3 {
  position:absolute;
  left:-244px;
  top:211px;
  width:20px;
  height:20px;
}
#u5822 {
  position:absolute;
  left:-58px;
  top:213px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5823 {
  position:absolute;
  left:193px;
  top:660px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u5824 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u5825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5825 {
  position:absolute;
  left:233px;
  top:662px;
  width:400px;
  height:16px;
}
#u5826 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u5827 {
  position:absolute;
  left:869px;
  top:451px;
  width:0px;
  height:0px;
}
#u5827_seg0 {
  position:absolute;
  left:-223px;
  top:-4px;
  width:223px;
  height:8px;
}
#u5827_seg1 {
  position:absolute;
  left:-223px;
  top:-4px;
  width:8px;
  height:227px;
}
#u5827_seg2 {
  position:absolute;
  left:-349px;
  top:215px;
  width:134px;
  height:8px;
}
#u5827_seg3 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5827_seg4 {
  position:absolute;
  left:-356px;
  top:209px;
  width:20px;
  height:20px;
}
#u5828 {
  position:absolute;
  left:-269px;
  top:57px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
