body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:881px;
}
#u2118 {
  position:absolute;
  left:7px;
  top:59px;
  width:449px;
  height:881px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:432px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:47px;
}
#u2120 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:47px;
}
#u2121 {
  position:absolute;
  left:2px;
  top:16px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u2122 {
  position:absolute;
  left:52px;
  top:10px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:709px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2124 {
  position:absolute;
  left:29px;
  top:130px;
  width:400px;
  height:709px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:346px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2126 {
  position:absolute;
  left:30px;
  top:131px;
  width:398px;
  height:50px;
  font-size:14px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:17px;
  width:394px;
  word-wrap:break-word;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2128 {
  position:absolute;
  left:41px;
  top:191px;
  width:43px;
  height:16px;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2130 {
  position:absolute;
  left:37px;
  top:139px;
  width:30px;
  height:30px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:120px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2132 {
  position:absolute;
  left:326px;
  top:141px;
  width:95px;
  height:25px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2134 {
  position:absolute;
  left:390px;
  top:146px;
  width:16px;
  height:16px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u2136 {
  position:absolute;
  left:348px;
  top:150px;
  width:8px;
  height:8px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2138 {
  position:absolute;
  left:340px;
  top:152px;
  width:4px;
  height:4px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2140 {
  position:absolute;
  left:360px;
  top:152px;
  width:4px;
  height:4px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u2142 {
  position:absolute;
  left:374px;
  top:144px;
  width:1px;
  height:18px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:195px;
}
#u2144 {
  position:absolute;
  left:30px;
  top:214px;
  width:398px;
  height:195px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:90px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  font-size:14px;
}
#u2146 {
  position:absolute;
  left:30px;
  top:409px;
  width:398px;
  height:50px;
  font-size:14px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:17px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2148 {
  position:absolute;
  left:37px;
  top:419px;
  width:231px;
  height:16px;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2150 {
  position:absolute;
  left:37px;
  top:441px;
  width:144px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2152 {
  position:absolute;
  left:41px;
  top:477px;
  width:43px;
  height:16px;
}
#u2153 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  font-size:14px;
}
#u2154 {
  position:absolute;
  left:30px;
  top:503px;
  width:398px;
  height:57px;
  font-size:14px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:20px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2156 {
  position:absolute;
  left:37px;
  top:513px;
  width:231px;
  height:16px;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u2158 {
  position:absolute;
  left:404px;
  top:524px;
  width:17px;
  height:15px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2160 {
  position:absolute;
  left:37px;
  top:539px;
  width:32px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u2161 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#006699;
  text-align:center;
}
#u2162 {
  position:absolute;
  left:181px;
  top:810px;
  width:97px;
  height:16px;
  font-size:12px;
  color:#006699;
  text-align:center;
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2164 {
  position:absolute;
  left:510px;
  top:194px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2165 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2166 {
  position:absolute;
  left:550px;
  top:196px;
  width:400px;
  height:16px;
}
#u2167 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2168 {
  position:absolute;
  left:510px;
  top:287px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2169 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2170 {
  position:absolute;
  left:550px;
  top:289px;
  width:400px;
  height:16px;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u2172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2172 {
  position:absolute;
  left:510px;
  top:337px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2173 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2174 {
  position:absolute;
  left:550px;
  top:339px;
  width:400px;
  height:16px;
}
#u2175 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2176 {
  position:absolute;
  left:510px;
  top:389px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2177 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2178 {
  position:absolute;
  left:550px;
  top:391px;
  width:400px;
  height:16px;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2180 {
  position:absolute;
  left:510px;
  top:240px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2181 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2182 {
  position:absolute;
  left:550px;
  top:242px;
  width:400px;
  height:16px;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  font-size:14px;
}
#u2184 {
  position:absolute;
  left:30px;
  top:580px;
  width:398px;
  height:57px;
  font-size:14px;
}
#u2185 {
  position:absolute;
  left:2px;
  top:20px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2186 {
  position:absolute;
  left:37px;
  top:590px;
  width:231px;
  height:16px;
}
#u2187 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u2188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u2188 {
  position:absolute;
  left:404px;
  top:601px;
  width:17px;
  height:15px;
}
#u2189 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2190 {
  position:absolute;
  left:37px;
  top:616px;
  width:32px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u2191 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u2192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u2192 {
  position:absolute;
  left:91px;
  top:616px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u2193 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  font-size:14px;
}
#u2194 {
  position:absolute;
  left:30px;
  top:660px;
  width:398px;
  height:57px;
  font-size:14px;
}
#u2195 {
  position:absolute;
  left:2px;
  top:20px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2196 {
  position:absolute;
  left:37px;
  top:670px;
  width:231px;
  height:16px;
}
#u2197 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u2198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u2198 {
  position:absolute;
  left:404px;
  top:681px;
  width:17px;
  height:15px;
}
#u2199 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2200 {
  position:absolute;
  left:37px;
  top:696px;
  width:46px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u2201 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u2202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u2202 {
  position:absolute;
  left:91px;
  top:696px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u2203 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  font-size:14px;
}
#u2204 {
  position:absolute;
  left:30px;
  top:743px;
  width:398px;
  height:57px;
  font-size:14px;
}
#u2205 {
  position:absolute;
  left:2px;
  top:20px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2206 {
  position:absolute;
  left:37px;
  top:753px;
  width:231px;
  height:16px;
}
#u2207 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u2208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u2208 {
  position:absolute;
  left:404px;
  top:764px;
  width:17px;
  height:15px;
}
#u2209 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2210 {
  position:absolute;
  left:37px;
  top:779px;
  width:46px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u2211 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u2212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2212 {
  position:absolute;
  left:510px;
  top:437px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2213 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2214 {
  position:absolute;
  left:550px;
  top:439px;
  width:400px;
  height:16px;
}
#u2215 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2216 {
  position:absolute;
  left:372px;
  top:586px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u2217 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2218 {
  position:absolute;
  left:372px;
  top:666px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u2219 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
