body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:881px;
}
#u914 {
  position:absolute;
  left:7px;
  top:59px;
  width:449px;
  height:881px;
}
#u915 {
  position:absolute;
  left:2px;
  top:432px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:47px;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:47px;
}
#u917 {
  position:absolute;
  left:2px;
  top:16px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u918 {
  position:absolute;
  left:52px;
  top:10px;
  width:65px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:709px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:29px;
  top:130px;
  width:400px;
  height:709px;
}
#u921 {
  position:absolute;
  left:2px;
  top:346px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  position:absolute;
  left:29px;
  top:790px;
  width:400px;
  height:50px;
}
#u923 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u924 {
  position:absolute;
  left:331px;
  top:822px;
  width:29px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u926 {
  position:absolute;
  left:329px;
  top:792px;
  width:30px;
  height:30px;
}
#u927 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u928 {
  position:absolute;
  left:99px;
  top:822px;
  width:29px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u930 {
  position:absolute;
  left:30px;
  top:131px;
  width:398px;
  height:50px;
  font-size:14px;
}
#u931 {
  position:absolute;
  left:2px;
  top:17px;
  width:394px;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:120px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  position:absolute;
  left:326px;
  top:141px;
  width:95px;
  height:25px;
}
#u933 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u934 {
  position:absolute;
  left:390px;
  top:146px;
  width:16px;
  height:16px;
}
#u935 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u936 {
  position:absolute;
  left:348px;
  top:150px;
  width:8px;
  height:8px;
}
#u937 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u938 {
  position:absolute;
  left:340px;
  top:152px;
  width:4px;
  height:4px;
}
#u939 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u940 {
  position:absolute;
  left:360px;
  top:152px;
  width:4px;
  height:4px;
}
#u941 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u942 {
  position:absolute;
  left:374px;
  top:144px;
  width:1px;
  height:18px;
}
#u943 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:195px;
}
#u944 {
  position:absolute;
  left:30px;
  top:220px;
  width:398px;
  height:195px;
}
#u945 {
  position:absolute;
  left:2px;
  top:90px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u946 {
  position:absolute;
  left:328px;
  top:194px;
  width:16px;
  height:16px;
}
#u947 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:349px;
  top:194px;
  width:71px;
  height:16px;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  font-size:14px;
}
#u950 {
  position:absolute;
  left:30px;
  top:415px;
  width:398px;
  height:50px;
  font-size:14px;
}
#u951 {
  position:absolute;
  left:2px;
  top:17px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  position:absolute;
  left:37px;
  top:425px;
  width:231px;
  height:16px;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u954 {
  position:absolute;
  left:37px;
  top:447px;
  width:144px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:195px;
}
#u956 {
  position:absolute;
  left:30px;
  top:485px;
  width:398px;
  height:195px;
}
#u957 {
  position:absolute;
  left:2px;
  top:90px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  font-size:14px;
}
#u958 {
  position:absolute;
  left:30px;
  top:680px;
  width:398px;
  height:50px;
  font-size:14px;
}
#u959 {
  position:absolute;
  left:2px;
  top:17px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960 {
  position:absolute;
  left:37px;
  top:690px;
  width:217px;
  height:16px;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u962 {
  position:absolute;
  left:116px;
  top:712px;
  width:174px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#33CC00;
}
#u964 {
  position:absolute;
  left:62px;
  top:712px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#33CC00;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u966 {
  position:absolute;
  left:37px;
  top:712px;
  width:16px;
  height:16px;
}
#u967 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:13px;
}
#u968 {
  position:absolute;
  left:107px;
  top:714px;
  width:1px;
  height:12px;
}
#u969 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u970 {
  position:absolute;
  left:205px;
  top:764px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u972 {
  position:absolute;
  left:510px;
  top:224px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u973 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u974 {
  position:absolute;
  left:550px;
  top:226px;
  width:350px;
  height:16px;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u976 {
  position:absolute;
  left:510px;
  top:270px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u977 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u978 {
  position:absolute;
  left:550px;
  top:272px;
  width:350px;
  height:16px;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u980 {
  position:absolute;
  left:510px;
  top:320px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u981 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u982 {
  position:absolute;
  left:550px;
  top:322px;
  width:350px;
  height:16px;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u984 {
  position:absolute;
  left:81px;
  top:728px;
  width:0px;
  height:0px;
}
#u984_seg0 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u984_seg1 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:8px;
  height:30px;
}
#u984_seg2 {
  position:absolute;
  left:-5px;
  top:18px;
  width:378px;
  height:8px;
}
#u984_seg3 {
  position:absolute;
  left:365px;
  top:-402px;
  width:8px;
  height:428px;
}
#u984_seg4 {
  position:absolute;
  left:365px;
  top:-402px;
  width:64px;
  height:8px;
}
#u984_seg5 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u984_seg6 {
  position:absolute;
  left:416px;
  top:-408px;
  width:20px;
  height:20px;
}
#u985 {
  position:absolute;
  left:319px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u986 {
  position:absolute;
  left:510px;
  top:368px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u987 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u988 {
  position:absolute;
  left:550px;
  top:370px;
  width:350px;
  height:16px;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u990 {
  position:absolute;
  left:254px;
  top:772px;
  width:0px;
  height:0px;
}
#u990_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:220px;
  height:8px;
}
#u990_seg1 {
  position:absolute;
  left:212px;
  top:-398px;
  width:8px;
  height:402px;
}
#u990_seg2 {
  position:absolute;
  left:212px;
  top:-398px;
  width:44px;
  height:8px;
}
#u990_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u990_seg4 {
  position:absolute;
  left:243px;
  top:-404px;
  width:20px;
  height:20px;
}
#u991 {
  position:absolute;
  left:166px;
  top:-117px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u992 {
  position:absolute;
  left:98px;
  top:792px;
  width:30px;
  height:30px;
}
#u993 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u994 {
  position:absolute;
  left:510px;
  top:418px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u995 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  position:absolute;
  left:550px;
  top:420px;
  width:350px;
  height:16px;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u998 {
  position:absolute;
  left:128px;
  top:807px;
  width:0px;
  height:0px;
}
#u998_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:366px;
  height:8px;
}
#u998_seg1 {
  position:absolute;
  left:358px;
  top:-383px;
  width:8px;
  height:387px;
}
#u998_seg2 {
  position:absolute;
  left:358px;
  top:-383px;
  width:24px;
  height:8px;
}
#u998_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u998_seg4 {
  position:absolute;
  left:369px;
  top:-389px;
  width:20px;
  height:20px;
}
#u999 {
  position:absolute;
  left:312px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001 {
  position:absolute;
  left:37px;
  top:183px;
  width:250px;
  height:40px;
  overflow:hidden;
}
#u1001_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1001_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:120px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002 {
  position:absolute;
  left:0px;
  top:7px;
  width:213px;
  height:25px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:4px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1004 {
  position:absolute;
  left:10px;
  top:9px;
  width:20px;
  height:20px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1006 {
  position:absolute;
  left:40px;
  top:12px;
  width:170px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u1001_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1001_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:120px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1008 {
  position:absolute;
  left:0px;
  top:7px;
  width:180px;
  height:25px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1010 {
  position:absolute;
  left:40px;
  top:12px;
  width:140px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1012 {
  position:absolute;
  left:10px;
  top:9px;
  width:20px;
  height:20px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1001_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:120px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  position:absolute;
  left:0px;
  top:7px;
  width:250px;
  height:25px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:4px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1016 {
  position:absolute;
  left:40px;
  top:12px;
  width:210px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1018 {
  position:absolute;
  left:10px;
  top:9px;
  width:20px;
  height:20px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1020 {
  position:absolute;
  left:510px;
  top:183px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u1021 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  position:absolute;
  left:550px;
  top:185px;
  width:350px;
  height:16px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u1024 {
  position:absolute;
  left:250px;
  top:200px;
  width:0px;
  height:0px;
}
#u1024_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u1024_seg1 {
  position:absolute;
  left:16px;
  top:-11px;
  width:8px;
  height:15px;
}
#u1024_seg2 {
  position:absolute;
  left:16px;
  top:-11px;
  width:244px;
  height:8px;
}
#u1024_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1024_seg4 {
  position:absolute;
  left:247px;
  top:-17px;
  width:20px;
  height:20px;
}
#u1025 {
  position:absolute;
  left:76px;
  top:-15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
