body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:881px;
}
#u1939 {
  position:absolute;
  left:7px;
  top:59px;
  width:449px;
  height:881px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:432px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:47px;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:47px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:16px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u1943 {
  position:absolute;
  left:52px;
  top:10px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u1944 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:709px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1945 {
  position:absolute;
  left:29px;
  top:130px;
  width:400px;
  height:709px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:346px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1947 {
  position:absolute;
  left:30px;
  top:131px;
  width:398px;
  height:50px;
  font-size:14px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:17px;
  width:394px;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1949 {
  position:absolute;
  left:37px;
  top:139px;
  width:30px;
  height:30px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:120px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1951 {
  position:absolute;
  left:326px;
  top:141px;
  width:95px;
  height:25px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1953 {
  position:absolute;
  left:390px;
  top:146px;
  width:16px;
  height:16px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1955 {
  position:absolute;
  left:348px;
  top:150px;
  width:8px;
  height:8px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1957 {
  position:absolute;
  left:340px;
  top:152px;
  width:4px;
  height:4px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1959 {
  position:absolute;
  left:360px;
  top:152px;
  width:4px;
  height:4px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u1961 {
  position:absolute;
  left:374px;
  top:144px;
  width:1px;
  height:18px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:639px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(204, 153, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1963 {
  position:absolute;
  left:40px;
  top:191px;
  width:377px;
  height:639px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:312px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1965 {
  position:absolute;
  left:328px;
  top:305px;
  width:71px;
  height:16px;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1967 {
  position:absolute;
  left:71px;
  top:250px;
  width:45px;
  height:45px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1969 {
  position:absolute;
  left:207px;
  top:250px;
  width:45px;
  height:45px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1971 {
  position:absolute;
  left:341px;
  top:250px;
  width:45px;
  height:45px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1973 {
  position:absolute;
  left:58px;
  top:305px;
  width:71px;
  height:16px;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1975 {
  position:absolute;
  left:196px;
  top:305px;
  width:67px;
  height:16px;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#006699;
  text-align:center;
}
#u1977 {
  position:absolute;
  left:205px;
  top:795px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#006699;
  text-align:center;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u1979 {
  position:absolute;
  left:161px;
  top:214px;
  width:135px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1981 {
  position:absolute;
  left:328px;
  top:395px;
  width:71px;
  height:16px;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1983 {
  position:absolute;
  left:71px;
  top:340px;
  width:45px;
  height:45px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1985 {
  position:absolute;
  left:207px;
  top:340px;
  width:45px;
  height:45px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1987 {
  position:absolute;
  left:341px;
  top:340px;
  width:45px;
  height:45px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1989 {
  position:absolute;
  left:58px;
  top:395px;
  width:71px;
  height:16px;
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1991 {
  position:absolute;
  left:196px;
  top:395px;
  width:67px;
  height:16px;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1993 {
  position:absolute;
  left:329px;
  top:490px;
  width:71px;
  height:16px;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1995 {
  position:absolute;
  left:72px;
  top:435px;
  width:45px;
  height:45px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1997 {
  position:absolute;
  left:208px;
  top:435px;
  width:45px;
  height:45px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1999 {
  position:absolute;
  left:342px;
  top:435px;
  width:45px;
  height:45px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2001 {
  position:absolute;
  left:59px;
  top:490px;
  width:71px;
  height:16px;
}
#u2002 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2003 {
  position:absolute;
  left:197px;
  top:490px;
  width:67px;
  height:16px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2005 {
  position:absolute;
  left:329px;
  top:571px;
  width:71px;
  height:16px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2007 {
  position:absolute;
  left:72px;
  top:516px;
  width:45px;
  height:45px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2009 {
  position:absolute;
  left:208px;
  top:516px;
  width:45px;
  height:45px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2011 {
  position:absolute;
  left:342px;
  top:516px;
  width:45px;
  height:45px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2013 {
  position:absolute;
  left:59px;
  top:571px;
  width:71px;
  height:16px;
}
#u2014 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2015 {
  position:absolute;
  left:197px;
  top:571px;
  width:67px;
  height:16px;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2017 {
  position:absolute;
  left:329px;
  top:661px;
  width:71px;
  height:16px;
}
#u2018 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2019 {
  position:absolute;
  left:72px;
  top:606px;
  width:45px;
  height:45px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2021 {
  position:absolute;
  left:208px;
  top:606px;
  width:45px;
  height:45px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2023 {
  position:absolute;
  left:342px;
  top:606px;
  width:45px;
  height:45px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2025 {
  position:absolute;
  left:59px;
  top:661px;
  width:71px;
  height:16px;
}
#u2026 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2027 {
  position:absolute;
  left:197px;
  top:661px;
  width:67px;
  height:16px;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2029 {
  position:absolute;
  left:330px;
  top:756px;
  width:71px;
  height:16px;
}
#u2030 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2031 {
  position:absolute;
  left:73px;
  top:701px;
  width:45px;
  height:45px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2033 {
  position:absolute;
  left:209px;
  top:701px;
  width:45px;
  height:45px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2035 {
  position:absolute;
  left:343px;
  top:701px;
  width:45px;
  height:45px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2037 {
  position:absolute;
  left:60px;
  top:756px;
  width:71px;
  height:16px;
}
#u2038 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2039 {
  position:absolute;
  left:198px;
  top:756px;
  width:67px;
  height:16px;
}
#u2040 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2041 {
  position:absolute;
  left:510px;
  top:182px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2042 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2043 {
  position:absolute;
  left:550px;
  top:184px;
  width:400px;
  height:16px;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2045 {
  position:absolute;
  left:510px;
  top:230px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2046 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2047 {
  position:absolute;
  left:550px;
  top:232px;
  width:400px;
  height:16px;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
