body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:881px;
}
#u1829 {
  position:absolute;
  left:7px;
  top:59px;
  width:449px;
  height:881px;
}
#u1830 {
  position:absolute;
  left:2px;
  top:432px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:47px;
}
#u1831 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:47px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:16px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u1833 {
  position:absolute;
  left:52px;
  top:10px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u1834 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:709px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1835 {
  position:absolute;
  left:29px;
  top:130px;
  width:400px;
  height:709px;
}
#u1836 {
  position:absolute;
  left:2px;
  top:346px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1837 {
  position:absolute;
  left:30px;
  top:131px;
  width:398px;
  height:50px;
  font-size:14px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:17px;
  width:394px;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1839 {
  position:absolute;
  left:37px;
  top:139px;
  width:30px;
  height:30px;
}
#u1840 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:120px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1841 {
  position:absolute;
  left:326px;
  top:141px;
  width:95px;
  height:25px;
}
#u1842 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1843 {
  position:absolute;
  left:390px;
  top:146px;
  width:16px;
  height:16px;
}
#u1844 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1845 {
  position:absolute;
  left:348px;
  top:150px;
  width:8px;
  height:8px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1847 {
  position:absolute;
  left:340px;
  top:152px;
  width:4px;
  height:4px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1849 {
  position:absolute;
  left:360px;
  top:152px;
  width:4px;
  height:4px;
}
#u1850 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u1851 {
  position:absolute;
  left:374px;
  top:144px;
  width:1px;
  height:18px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:639px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(204, 153, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1853 {
  position:absolute;
  left:40px;
  top:191px;
  width:377px;
  height:639px;
}
#u1854 {
  position:absolute;
  left:2px;
  top:312px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1855 {
  position:absolute;
  left:328px;
  top:305px;
  width:71px;
  height:16px;
}
#u1856 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1857 {
  position:absolute;
  left:71px;
  top:250px;
  width:45px;
  height:45px;
}
#u1858 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1859 {
  position:absolute;
  left:207px;
  top:250px;
  width:45px;
  height:45px;
}
#u1860 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1861 {
  position:absolute;
  left:341px;
  top:250px;
  width:45px;
  height:45px;
}
#u1862 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1863 {
  position:absolute;
  left:58px;
  top:305px;
  width:71px;
  height:16px;
}
#u1864 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1865 {
  position:absolute;
  left:196px;
  top:305px;
  width:67px;
  height:16px;
}
#u1866 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#006699;
  text-align:center;
}
#u1867 {
  position:absolute;
  left:205px;
  top:795px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#006699;
  text-align:center;
}
#u1868 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u1869 {
  position:absolute;
  left:161px;
  top:214px;
  width:135px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1871 {
  position:absolute;
  left:328px;
  top:395px;
  width:71px;
  height:16px;
}
#u1872 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1873 {
  position:absolute;
  left:71px;
  top:340px;
  width:45px;
  height:45px;
}
#u1874 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1875 {
  position:absolute;
  left:207px;
  top:340px;
  width:45px;
  height:45px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1877 {
  position:absolute;
  left:341px;
  top:340px;
  width:45px;
  height:45px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1879 {
  position:absolute;
  left:58px;
  top:395px;
  width:71px;
  height:16px;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1881 {
  position:absolute;
  left:196px;
  top:395px;
  width:67px;
  height:16px;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1883 {
  position:absolute;
  left:329px;
  top:490px;
  width:71px;
  height:16px;
}
#u1884 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1885 {
  position:absolute;
  left:72px;
  top:435px;
  width:45px;
  height:45px;
}
#u1886 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1887 {
  position:absolute;
  left:208px;
  top:435px;
  width:45px;
  height:45px;
}
#u1888 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1889 {
  position:absolute;
  left:342px;
  top:435px;
  width:45px;
  height:45px;
}
#u1890 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1891 {
  position:absolute;
  left:59px;
  top:490px;
  width:71px;
  height:16px;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1893 {
  position:absolute;
  left:197px;
  top:490px;
  width:67px;
  height:16px;
}
#u1894 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1895 {
  position:absolute;
  left:329px;
  top:571px;
  width:71px;
  height:16px;
}
#u1896 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1897 {
  position:absolute;
  left:72px;
  top:516px;
  width:45px;
  height:45px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1899 {
  position:absolute;
  left:208px;
  top:516px;
  width:45px;
  height:45px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1901 {
  position:absolute;
  left:342px;
  top:516px;
  width:45px;
  height:45px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1903 {
  position:absolute;
  left:59px;
  top:571px;
  width:71px;
  height:16px;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1905 {
  position:absolute;
  left:197px;
  top:571px;
  width:67px;
  height:16px;
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1907 {
  position:absolute;
  left:329px;
  top:661px;
  width:71px;
  height:16px;
}
#u1908 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1909 {
  position:absolute;
  left:72px;
  top:606px;
  width:45px;
  height:45px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1911 {
  position:absolute;
  left:208px;
  top:606px;
  width:45px;
  height:45px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1913 {
  position:absolute;
  left:342px;
  top:606px;
  width:45px;
  height:45px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1915 {
  position:absolute;
  left:59px;
  top:661px;
  width:71px;
  height:16px;
}
#u1916 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1917 {
  position:absolute;
  left:197px;
  top:661px;
  width:67px;
  height:16px;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1919 {
  position:absolute;
  left:330px;
  top:756px;
  width:71px;
  height:16px;
}
#u1920 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1921 {
  position:absolute;
  left:73px;
  top:701px;
  width:45px;
  height:45px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1923 {
  position:absolute;
  left:209px;
  top:701px;
  width:45px;
  height:45px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1925 {
  position:absolute;
  left:343px;
  top:701px;
  width:45px;
  height:45px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1927 {
  position:absolute;
  left:60px;
  top:756px;
  width:71px;
  height:16px;
}
#u1928 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1929 {
  position:absolute;
  left:198px;
  top:756px;
  width:67px;
  height:16px;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1931 {
  position:absolute;
  left:510px;
  top:182px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u1932 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1933 {
  position:absolute;
  left:550px;
  top:184px;
  width:400px;
  height:16px;
}
#u1934 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1935 {
  position:absolute;
  left:510px;
  top:230px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u1936 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1937 {
  position:absolute;
  left:550px;
  top:232px;
  width:400px;
  height:16px;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
