body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
  background:inherit;
  background-color:rgba(58, 110, 165, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3727 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
}
#u3728 {
  position:absolute;
  left:2px;
  top:32px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:858px;
  background:inherit;
  background-color:rgba(247, 251, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3729 {
  position:absolute;
  left:0px;
  top:80px;
  width:140px;
  height:858px;
}
#u3730 {
  position:absolute;
  left:2px;
  top:421px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3731 {
  position:absolute;
  left:34px;
  top:29px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3732 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:30px;
  background:inherit;
  background-color:rgba(226, 233, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3733 {
  position:absolute;
  left:140px;
  top:80px;
  width:1160px;
  height:30px;
}
#u3734 {
  position:absolute;
  left:2px;
  top:7px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u3735 {
  position:absolute;
  left:30px;
  top:120px;
  width:110px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3A6EA5;
  text-align:left;
}
#u3736 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u3737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(73, 140, 208, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3737 {
  position:absolute;
  left:160px;
  top:130px;
  width:90px;
  height:30px;
  font-size:12px;
}
#u3738 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u3739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u3739 {
  position:absolute;
  left:270px;
  top:136px;
  width:1px;
  height:20px;
}
#u3740 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#3A6EA5;
}
#u3741 {
  position:absolute;
  left:286px;
  top:138px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#3A6EA5;
}
#u3742 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u3743 {
  position:absolute;
  left:198px;
  top:205px;
  width:37px;
  height:15px;
  font-size:12px;
  text-align:right;
}
#u3744 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3745 {
  position:absolute;
  left:371px;
  top:205px;
  width:100px;
  height:16px;
  font-size:12px;
}
#u3746 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3745_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3747 {
  position:absolute;
  left:261px;
  top:205px;
  width:100px;
  height:16px;
  font-size:12px;
}
#u3748 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3747_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u3749 {
  position:absolute;
  left:174px;
  top:283px;
  width:61px;
  height:15px;
  font-size:12px;
  text-align:right;
}
#u3750 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3751 {
  position:absolute;
  left:261px;
  top:280px;
  width:96px;
  height:22px;
}
#u3751_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3751_input:disabled {
  color:grayText;
}
#u3752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u3752 {
  position:absolute;
  left:174px;
  top:387px;
  width:61px;
  height:15px;
  font-size:12px;
  text-align:right;
}
#u3753 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u3754 {
  position:absolute;
  left:198px;
  top:437px;
  width:37px;
  height:15px;
  font-size:12px;
  text-align:right;
}
#u3755 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3756 {
  position:absolute;
  left:160px;
  top:15px;
  width:168px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u3757 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u3758 {
  position:absolute;
  left:261px;
  top:434px;
  width:119px;
  height:22px;
}
#u3758_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u3759 {
  position:absolute;
  left:174px;
  top:243px;
  width:61px;
  height:15px;
  font-size:12px;
  text-align:right;
}
#u3760 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3761 {
  position:absolute;
  left:261px;
  top:240px;
  width:349px;
  height:22px;
}
#u3761_input {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3762 {
  position:absolute;
  left:261px;
  top:384px;
  width:349px;
  height:22px;
}
#u3762_input {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:12px;
  color:#000000;
}
#u3763 {
  position:absolute;
  left:633px;
  top:380px;
  width:90px;
  height:30px;
  font-size:12px;
  color:#000000;
}
#u3764 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u3765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u3765 {
  position:absolute;
  left:46px;
  top:171px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u3766 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(226, 233, 234, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3A6EA5;
}
#u3767 {
  position:absolute;
  left:260px;
  top:50px;
  width:80px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3A6EA5;
}
#u3768 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u3769_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:91px;
  height:41px;
}
#u3769 {
  position:absolute;
  left:160px;
  top:50px;
  width:80px;
  height:30px;
}
#u3770 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u3771_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:91px;
  height:41px;
}
#u3771 {
  position:absolute;
  left:360px;
  top:50px;
  width:80px;
  height:30px;
}
#u3772 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u3773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3773 {
  position:absolute;
  left:174px;
  top:497px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u3774 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3775 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3776 {
  position:absolute;
  left:261px;
  top:492px;
  width:640px;
  height:40px;
}
#u3777 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3778 {
  position:absolute;
  left:419px;
  top:507px;
  width:16px;
  height:16px;
}
#u3779 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3780 {
  position:absolute;
  left:520px;
  top:507px;
  width:16px;
  height:16px;
}
#u3781 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3782 {
  position:absolute;
  left:546px;
  top:507px;
  width:16px;
  height:16px;
}
#u3783 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3784 {
  position:absolute;
  left:572px;
  top:507px;
  width:16px;
  height:16px;
}
#u3785 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3786 {
  position:absolute;
  left:445px;
  top:507px;
  width:16px;
  height:16px;
}
#u3787 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3788 {
  position:absolute;
  left:471px;
  top:507px;
  width:16px;
  height:16px;
}
#u3789 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3790 {
  position:absolute;
  left:673px;
  top:507px;
  width:16px;
  height:16px;
}
#u3791 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3792 {
  position:absolute;
  left:621px;
  top:507px;
  width:16px;
  height:16px;
}
#u3793 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3794 {
  position:absolute;
  left:647px;
  top:507px;
  width:16px;
  height:16px;
}
#u3795 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3796 {
  position:absolute;
  left:797px;
  top:507px;
  width:16px;
  height:16px;
}
#u3797 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3798 {
  position:absolute;
  left:823px;
  top:507px;
  width:16px;
  height:16px;
}
#u3799 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3800 {
  position:absolute;
  left:748px;
  top:507px;
  width:16px;
  height:16px;
}
#u3801 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3802 {
  position:absolute;
  left:699px;
  top:507px;
  width:16px;
  height:16px;
}
#u3803 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3804 {
  position:absolute;
  left:274px;
  top:504px;
  width:87px;
  height:22px;
}
#u3804_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3804_input:disabled {
  color:grayText;
}
#u3805 {
  position:absolute;
  left:365px;
  top:504px;
  width:44px;
  height:22px;
}
#u3805_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3805_input:disabled {
  color:grayText;
}
#u3806 {
  position:absolute;
  left:261px;
  top:536px;
  width:640px;
  height:372px;
}
#u3806_input {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:372px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3807 {
  position:absolute;
  left:261px;
  top:932px;
  width:67px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3808 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u3809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u3809 {
  position:absolute;
  left:174px;
  top:331px;
  width:61px;
  height:15px;
  font-size:12px;
  text-align:right;
}
#u3810 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3811 {
  position:absolute;
  left:261px;
  top:328px;
  width:119px;
  height:22px;
}
#u3811_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3812 {
  position:absolute;
  left:860px;
  top:205px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3813 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3814 {
  position:absolute;
  left:900px;
  top:207px;
  width:400px;
  height:64px;
}
#u3815 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u3816 {
  position:absolute;
  left:380px;
  top:340px;
  width:0px;
  height:0px;
}
#u3816_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:364px;
  height:8px;
}
#u3816_seg1 {
  position:absolute;
  left:356px;
  top:-129px;
  width:8px;
  height:133px;
}
#u3816_seg2 {
  position:absolute;
  left:356px;
  top:-129px;
  width:124px;
  height:8px;
}
#u3816_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3816_seg4 {
  position:absolute;
  left:467px;
  top:-135px;
  width:20px;
  height:20px;
}
#u3817 {
  position:absolute;
  left:252px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
