body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
  background:inherit;
  background-color:rgba(58, 110, 165, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3041 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
}
#u3042 {
  position:absolute;
  left:2px;
  top:32px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:858px;
  background:inherit;
  background-color:rgba(247, 251, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3043 {
  position:absolute;
  left:0px;
  top:80px;
  width:140px;
  height:858px;
}
#u3044 {
  position:absolute;
  left:2px;
  top:421px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3045 {
  position:absolute;
  left:34px;
  top:29px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3046 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:30px;
  background:inherit;
  background-color:rgba(226, 233, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3047 {
  position:absolute;
  left:140px;
  top:80px;
  width:1160px;
  height:30px;
}
#u3048 {
  position:absolute;
  left:2px;
  top:7px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u3049 {
  position:absolute;
  left:30px;
  top:120px;
  width:110px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3A6EA5;
  text-align:left;
}
#u3050 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u3051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(73, 140, 208, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3051 {
  position:absolute;
  left:160px;
  top:130px;
  width:90px;
  height:30px;
  font-size:12px;
}
#u3052 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u3053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u3053 {
  position:absolute;
  left:270px;
  top:136px;
  width:1px;
  height:20px;
}
#u3054 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#3A6EA5;
}
#u3055 {
  position:absolute;
  left:286px;
  top:138px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#3A6EA5;
}
#u3056 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u3057 {
  position:absolute;
  left:198px;
  top:205px;
  width:37px;
  height:15px;
  font-size:12px;
  text-align:right;
}
#u3058 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3059 {
  position:absolute;
  left:371px;
  top:205px;
  width:100px;
  height:16px;
  font-size:12px;
}
#u3060 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3059_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3061 {
  position:absolute;
  left:261px;
  top:205px;
  width:100px;
  height:16px;
  font-size:12px;
}
#u3062 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3061_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u3063 {
  position:absolute;
  left:174px;
  top:283px;
  width:61px;
  height:15px;
  font-size:12px;
  text-align:right;
}
#u3064 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3065 {
  position:absolute;
  left:261px;
  top:280px;
  width:96px;
  height:22px;
}
#u3065_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3065_input:disabled {
  color:grayText;
}
#u3066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u3066 {
  position:absolute;
  left:174px;
  top:325px;
  width:61px;
  height:15px;
  font-size:12px;
  text-align:right;
}
#u3067 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u3068 {
  position:absolute;
  left:198px;
  top:375px;
  width:37px;
  height:15px;
  font-size:12px;
  text-align:right;
}
#u3069 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3070 {
  position:absolute;
  left:160px;
  top:15px;
  width:168px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u3071 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u3072 {
  position:absolute;
  left:261px;
  top:372px;
  width:119px;
  height:22px;
}
#u3072_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u3073 {
  position:absolute;
  left:174px;
  top:243px;
  width:61px;
  height:15px;
  font-size:12px;
  text-align:right;
}
#u3074 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3075 {
  position:absolute;
  left:261px;
  top:240px;
  width:349px;
  height:22px;
}
#u3075_input {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3076 {
  position:absolute;
  left:261px;
  top:322px;
  width:349px;
  height:22px;
}
#u3076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:12px;
  color:#000000;
}
#u3077 {
  position:absolute;
  left:633px;
  top:318px;
  width:90px;
  height:30px;
  font-size:12px;
  color:#000000;
}
#u3078 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u3079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u3079 {
  position:absolute;
  left:46px;
  top:171px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u3080 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(226, 233, 234, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3A6EA5;
}
#u3081 {
  position:absolute;
  left:260px;
  top:50px;
  width:80px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3A6EA5;
}
#u3082 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u3083_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:91px;
  height:41px;
}
#u3083 {
  position:absolute;
  left:160px;
  top:50px;
  width:80px;
  height:30px;
}
#u3084 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u3085_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:91px;
  height:41px;
}
#u3085 {
  position:absolute;
  left:360px;
  top:50px;
  width:80px;
  height:30px;
}
#u3086 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u3087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3087 {
  position:absolute;
  left:174px;
  top:435px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u3088 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3090 {
  position:absolute;
  left:261px;
  top:430px;
  width:640px;
  height:40px;
}
#u3091 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3092 {
  position:absolute;
  left:419px;
  top:445px;
  width:16px;
  height:16px;
}
#u3093 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3094 {
  position:absolute;
  left:520px;
  top:445px;
  width:16px;
  height:16px;
}
#u3095 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3096 {
  position:absolute;
  left:546px;
  top:445px;
  width:16px;
  height:16px;
}
#u3097 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3098 {
  position:absolute;
  left:572px;
  top:445px;
  width:16px;
  height:16px;
}
#u3099 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3100 {
  position:absolute;
  left:445px;
  top:445px;
  width:16px;
  height:16px;
}
#u3101 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3102 {
  position:absolute;
  left:471px;
  top:445px;
  width:16px;
  height:16px;
}
#u3103 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3104 {
  position:absolute;
  left:673px;
  top:445px;
  width:16px;
  height:16px;
}
#u3105 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3106 {
  position:absolute;
  left:621px;
  top:445px;
  width:16px;
  height:16px;
}
#u3107 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3108 {
  position:absolute;
  left:647px;
  top:445px;
  width:16px;
  height:16px;
}
#u3109 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3110 {
  position:absolute;
  left:797px;
  top:445px;
  width:16px;
  height:16px;
}
#u3111 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3112 {
  position:absolute;
  left:823px;
  top:445px;
  width:16px;
  height:16px;
}
#u3113 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3114 {
  position:absolute;
  left:748px;
  top:445px;
  width:16px;
  height:16px;
}
#u3115 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3116 {
  position:absolute;
  left:699px;
  top:445px;
  width:16px;
  height:16px;
}
#u3117 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3118 {
  position:absolute;
  left:274px;
  top:442px;
  width:87px;
  height:22px;
}
#u3118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3118_input:disabled {
  color:grayText;
}
#u3119 {
  position:absolute;
  left:365px;
  top:442px;
  width:44px;
  height:22px;
}
#u3119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3119_input:disabled {
  color:grayText;
}
#u3120 {
  position:absolute;
  left:261px;
  top:474px;
  width:640px;
  height:372px;
}
#u3120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:372px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3121 {
  position:absolute;
  left:261px;
  top:870px;
  width:67px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3122 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
