body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u449 {
  position:absolute;
  left:100px;
  top:360px;
  width:100px;
  height:60px;
}
#u450 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u451 {
  position:absolute;
  left:300px;
  top:360px;
  width:100px;
  height:60px;
}
#u452 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u453 {
  position:absolute;
  left:500px;
  top:240px;
  width:100px;
  height:60px;
}
#u454 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u455 {
  position:absolute;
  left:500px;
  top:360px;
  width:100px;
  height:60px;
}
#u456 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u457 {
  position:absolute;
  left:500px;
  top:610px;
  width:100px;
  height:60px;
}
#u458 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u459 {
  position:absolute;
  left:1100px;
  top:240px;
  width:100px;
  height:60px;
}
#u460 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u461 {
  position:absolute;
  left:200px;
  top:390px;
  width:0px;
  height:0px;
}
#u461_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u461_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u462 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463 {
  position:absolute;
  left:400px;
  top:390px;
  width:0px;
  height:0px;
}
#u463_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u463_seg1 {
  position:absolute;
  left:46px;
  top:-124px;
  width:8px;
  height:128px;
}
#u463_seg2 {
  position:absolute;
  left:46px;
  top:-124px;
  width:54px;
  height:8px;
}
#u463_seg3 {
  position:absolute;
  left:85px;
  top:-130px;
  width:20px;
  height:20px;
}
#u464 {
  position:absolute;
  left:0px;
  top:-68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465 {
  position:absolute;
  left:700px;
  top:360px;
  width:100px;
  height:60px;
}
#u466 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u467 {
  position:absolute;
  left:900px;
  top:360px;
  width:100px;
  height:60px;
}
#u468 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u469 {
  position:absolute;
  left:900px;
  top:390px;
  width:0px;
  height:0px;
}
#u469_seg0 {
  position:absolute;
  left:-100px;
  top:-4px;
  width:104px;
  height:8px;
}
#u469_seg1 {
  position:absolute;
  left:-105px;
  top:-10px;
  width:20px;
  height:20px;
}
#u470 {
  position:absolute;
  left:-100px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471 {
  position:absolute;
  left:400px;
  top:390px;
  width:0px;
  height:0px;
}
#u471_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u471_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u472 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473 {
  position:absolute;
  left:550px;
  top:300px;
  width:0px;
  height:0px;
}
#u473_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u473_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u474 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475 {
  position:absolute;
  left:550px;
  top:300px;
  width:0px;
  height:0px;
}
#u475_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u475_seg1 {
  position:absolute;
  left:-4px;
  top:26px;
  width:208px;
  height:8px;
}
#u475_seg2 {
  position:absolute;
  left:196px;
  top:26px;
  width:8px;
  height:34px;
}
#u475_seg3 {
  position:absolute;
  left:190px;
  top:45px;
  width:20px;
  height:20px;
}
#u476 {
  position:absolute;
  left:50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477 {
  position:absolute;
  left:400px;
  top:390px;
  width:0px;
  height:0px;
}
#u477_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u477_seg1 {
  position:absolute;
  left:46px;
  top:-4px;
  width:8px;
  height:258px;
}
#u477_seg2 {
  position:absolute;
  left:46px;
  top:246px;
  width:54px;
  height:8px;
}
#u477_seg3 {
  position:absolute;
  left:85px;
  top:240px;
  width:20px;
  height:20px;
}
#u478 {
  position:absolute;
  left:0px;
  top:117px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u479 {
  position:absolute;
  left:700px;
  top:240px;
  width:100px;
  height:60px;
}
#u480 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u481 {
  position:absolute;
  left:900px;
  top:240px;
  width:100px;
  height:60px;
}
#u482 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u483 {
  position:absolute;
  left:950px;
  top:240px;
  width:0px;
  height:0px;
}
#u483_seg0 {
  position:absolute;
  left:-4px;
  top:-34px;
  width:8px;
  height:34px;
}
#u483_seg1 {
  position:absolute;
  left:-604px;
  top:-34px;
  width:608px;
  height:8px;
}
#u483_seg2 {
  position:absolute;
  left:-604px;
  top:-34px;
  width:8px;
  height:154px;
}
#u483_seg3 {
  position:absolute;
  left:-610px;
  top:105px;
  width:20px;
  height:20px;
}
#u484 {
  position:absolute;
  left:-410px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
}
#u485 {
  position:absolute;
  left:1000px;
  top:270px;
  width:0px;
  height:0px;
}
#u485_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u485_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u486 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u487 {
  position:absolute;
  left:600px;
  top:270px;
  width:0px;
  height:0px;
}
#u487_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u487_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u488 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489 {
  position:absolute;
  left:800px;
  top:270px;
  width:0px;
  height:0px;
}
#u489_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u489_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u490 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491 {
  position:absolute;
  left:1150px;
  top:300px;
  width:0px;
  height:0px;
}
#u491_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:94px;
}
#u491_seg1 {
  position:absolute;
  left:-150px;
  top:86px;
  width:154px;
  height:8px;
}
#u491_seg2 {
  position:absolute;
  left:-155px;
  top:80px;
  width:20px;
  height:20px;
}
#u492 {
  position:absolute;
  left:-80px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u493 {
  position:absolute;
  left:700px;
  top:490px;
  width:100px;
  height:60px;
}
#u494 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u495 {
  position:absolute;
  left:700px;
  top:610px;
  width:100px;
  height:60px;
}
#u496 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u497 {
  position:absolute;
  left:700px;
  top:720px;
  width:100px;
  height:60px;
}
#u498 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u499 {
  position:absolute;
  left:600px;
  top:640px;
  width:0px;
  height:0px;
}
#u499_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u499_seg1 {
  position:absolute;
  left:46px;
  top:-124px;
  width:8px;
  height:128px;
}
#u499_seg2 {
  position:absolute;
  left:46px;
  top:-124px;
  width:54px;
  height:8px;
}
#u499_seg3 {
  position:absolute;
  left:85px;
  top:-130px;
  width:20px;
  height:20px;
}
#u500 {
  position:absolute;
  left:0px;
  top:-68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501 {
  position:absolute;
  left:600px;
  top:640px;
  width:0px;
  height:0px;
}
#u501_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u501_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u502 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503 {
  position:absolute;
  left:600px;
  top:640px;
  width:0px;
  height:0px;
}
#u503_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u503_seg1 {
  position:absolute;
  left:46px;
  top:-4px;
  width:8px;
  height:118px;
}
#u503_seg2 {
  position:absolute;
  left:46px;
  top:106px;
  width:54px;
  height:8px;
}
#u503_seg3 {
  position:absolute;
  left:85px;
  top:100px;
  width:20px;
  height:20px;
}
#u504 {
  position:absolute;
  left:0px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u505 {
  position:absolute;
  left:900px;
  top:490px;
  width:100px;
  height:60px;
}
#u506 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u507 {
  position:absolute;
  left:800px;
  top:520px;
  width:0px;
  height:0px;
}
#u507_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u507_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u508 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u509 {
  position:absolute;
  left:100px;
  top:160px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u510 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u511 {
  position:absolute;
  left:100px;
  top:810px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u512 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u513 {
  position:absolute;
  left:100px;
  top:960px;
  width:100px;
  height:60px;
}
#u514 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u515 {
  position:absolute;
  left:300px;
  top:960px;
  width:100px;
  height:60px;
}
#u516 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u517 {
  position:absolute;
  left:300px;
  top:1080px;
  width:100px;
  height:60px;
}
#u518 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u519 {
  position:absolute;
  left:1100px;
  top:960px;
  width:100px;
  height:60px;
}
#u520 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u521 {
  position:absolute;
  left:500px;
  top:1080px;
  width:100px;
  height:60px;
}
#u522 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u523 {
  position:absolute;
  left:700px;
  top:1080px;
  width:100px;
  height:60px;
}
#u524 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u525 {
  position:absolute;
  left:700px;
  top:960px;
  width:100px;
  height:60px;
}
#u526 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u527 {
  position:absolute;
  left:900px;
  top:960px;
  width:100px;
  height:60px;
}
#u528 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u529 {
  position:absolute;
  left:800px;
  top:990px;
  width:0px;
  height:0px;
}
#u529_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u529_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u530 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u531 {
  position:absolute;
  left:900px;
  top:850px;
  width:100px;
  height:60px;
}
#u532 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u533 {
  position:absolute;
  left:950px;
  top:960px;
  width:0px;
  height:0px;
}
#u533_seg0 {
  position:absolute;
  left:-4px;
  top:-50px;
  width:8px;
  height:54px;
}
#u533_seg1 {
  position:absolute;
  left:-10px;
  top:-55px;
  width:20px;
  height:20px;
}
#u534 {
  position:absolute;
  left:-50px;
  top:-33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u535 {
  position:absolute;
  left:1000px;
  top:990px;
  width:0px;
  height:0px;
}
#u535_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u535_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u536 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u537 {
  position:absolute;
  left:1150px;
  top:1020px;
  width:0px;
  height:0px;
}
#u537_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:94px;
}
#u537_seg1 {
  position:absolute;
  left:-350px;
  top:86px;
  width:354px;
  height:8px;
}
#u537_seg2 {
  position:absolute;
  left:-355px;
  top:80px;
  width:20px;
  height:20px;
}
#u538 {
  position:absolute;
  left:-180px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u539 {
  position:absolute;
  left:700px;
  top:1110px;
  width:0px;
  height:0px;
}
#u539_seg0 {
  position:absolute;
  left:-100px;
  top:-4px;
  width:104px;
  height:8px;
}
#u539_seg1 {
  position:absolute;
  left:-105px;
  top:-10px;
  width:20px;
  height:20px;
}
#u540 {
  position:absolute;
  left:-100px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541 {
  position:absolute;
  left:350px;
  top:1020px;
  width:0px;
  height:0px;
}
#u541_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u541_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u542 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543 {
  position:absolute;
  left:350px;
  top:1020px;
  width:0px;
  height:0px;
}
#u543_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u543_seg1 {
  position:absolute;
  left:-4px;
  top:26px;
  width:208px;
  height:8px;
}
#u543_seg2 {
  position:absolute;
  left:196px;
  top:26px;
  width:8px;
  height:34px;
}
#u543_seg3 {
  position:absolute;
  left:190px;
  top:45px;
  width:20px;
  height:20px;
}
#u544 {
  position:absolute;
  left:50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u545 {
  position:absolute;
  left:100px;
  top:1180px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u546 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u547 {
  position:absolute;
  left:100px;
  top:1330px;
  width:100px;
  height:60px;
}
#u548 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u549 {
  position:absolute;
  left:300px;
  top:1330px;
  width:100px;
  height:60px;
}
#u550 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u551 {
  position:absolute;
  left:200px;
  top:1360px;
  width:0px;
  height:0px;
}
#u551_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u551_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u552 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u553 {
  position:absolute;
  left:500px;
  top:1240px;
  width:100px;
  height:60px;
}
#u554 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u555 {
  position:absolute;
  left:500px;
  top:1330px;
  width:100px;
  height:60px;
}
#u556 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u557 {
  position:absolute;
  left:500px;
  top:1430px;
  width:100px;
  height:60px;
}
#u558 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u559 {
  position:absolute;
  left:400px;
  top:1360px;
  width:0px;
  height:0px;
}
#u559_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u559_seg1 {
  position:absolute;
  left:56px;
  top:-94px;
  width:8px;
  height:98px;
}
#u559_seg2 {
  position:absolute;
  left:56px;
  top:-94px;
  width:44px;
  height:8px;
}
#u559_seg3 {
  position:absolute;
  left:85px;
  top:-100px;
  width:20px;
  height:20px;
}
#u560 {
  position:absolute;
  left:10px;
  top:-43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u561 {
  position:absolute;
  left:400px;
  top:1360px;
  width:0px;
  height:0px;
}
#u561_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u561_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u562 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u563 {
  position:absolute;
  left:400px;
  top:1360px;
  width:0px;
  height:0px;
}
#u563_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u563_seg1 {
  position:absolute;
  left:56px;
  top:-4px;
  width:8px;
  height:108px;
}
#u563_seg2 {
  position:absolute;
  left:56px;
  top:96px;
  width:44px;
  height:8px;
}
#u563_seg3 {
  position:absolute;
  left:85px;
  top:90px;
  width:20px;
  height:20px;
}
#u564 {
  position:absolute;
  left:10px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u565 {
  position:absolute;
  left:700px;
  top:1330px;
  width:100px;
  height:60px;
}
#u566 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u567 {
  position:absolute;
  left:600px;
  top:1360px;
  width:0px;
  height:0px;
}
#u567_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u567_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u568 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u569 {
  position:absolute;
  left:500px;
  top:960px;
  width:100px;
  height:60px;
}
#u570 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u571 {
  position:absolute;
  left:600px;
  top:990px;
  width:0px;
  height:0px;
}
#u571_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u571_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u572 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u573 {
  position:absolute;
  left:400px;
  top:990px;
  width:0px;
  height:0px;
}
#u573_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u573_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u574 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u575 {
  position:absolute;
  left:200px;
  top:990px;
  width:0px;
  height:0px;
}
#u575_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u575_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u576 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u577 {
  position:absolute;
  left:350px;
  top:960px;
  width:0px;
  height:0px;
}
#u577_seg0 {
  position:absolute;
  left:-4px;
  top:-84px;
  width:8px;
  height:84px;
}
#u577_seg1 {
  position:absolute;
  left:-4px;
  top:-84px;
  width:554px;
  height:8px;
}
#u577_seg2 {
  position:absolute;
  left:535px;
  top:-90px;
  width:20px;
  height:20px;
}
#u578 {
  position:absolute;
  left:185px;
  top:-88px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
