body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:456px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:881px;
}
#u2052 {
  position:absolute;
  left:7px;
  top:59px;
  width:449px;
  height:881px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:432px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:47px;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:47px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:16px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u2056 {
  position:absolute;
  left:52px;
  top:10px;
  width:65px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:709px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2058 {
  position:absolute;
  left:29px;
  top:130px;
  width:400px;
  height:709px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:346px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2060 {
  position:absolute;
  left:30px;
  top:131px;
  width:398px;
  height:50px;
  font-size:14px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:17px;
  width:394px;
  word-wrap:break-word;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:120px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2062 {
  position:absolute;
  left:326px;
  top:141px;
  width:95px;
  height:25px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2064 {
  position:absolute;
  left:390px;
  top:146px;
  width:16px;
  height:16px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u2066 {
  position:absolute;
  left:348px;
  top:150px;
  width:8px;
  height:8px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2068 {
  position:absolute;
  left:340px;
  top:152px;
  width:4px;
  height:4px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2070 {
  position:absolute;
  left:360px;
  top:152px;
  width:4px;
  height:4px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u2072 {
  position:absolute;
  left:374px;
  top:144px;
  width:1px;
  height:18px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2074 {
  position:absolute;
  left:29px;
  top:790px;
  width:400px;
  height:50px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF4D4D;
  text-align:center;
}
#u2076 {
  position:absolute;
  left:331px;
  top:822px;
  width:29px;
  height:16px;
  color:#FF4D4D;
  text-align:center;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2078 {
  position:absolute;
  left:99px;
  top:822px;
  width:29px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2080 {
  position:absolute;
  left:101px;
  top:794px;
  width:26px;
  height:26px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2082 {
  position:absolute;
  left:333px;
  top:794px;
  width:26px;
  height:26px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2084 {
  position:absolute;
  left:30px;
  top:191px;
  width:398px;
  height:170px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:77px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2086 {
  position:absolute;
  left:41px;
  top:216px;
  width:42px;
  height:42px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2088 {
  position:absolute;
  left:93px;
  top:229px;
  width:71px;
  height:16px;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u2090 {
  position:absolute;
  left:41px;
  top:276px;
  width:370px;
  height:1px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:47px;
}
#u2092 {
  position:absolute;
  left:229px;
  top:290px;
  width:1px;
  height:46px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:center;
}
#u2094 {
  position:absolute;
  left:127px;
  top:292px;
  width:25px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:center;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2096 {
  position:absolute;
  left:115px;
  top:319px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:center;
}
#u2098 {
  position:absolute;
  left:313px;
  top:292px;
  width:13px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:center;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2100 {
  position:absolute;
  left:295px;
  top:320px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  position:absolute;
  left:30px;
  top:372px;
  width:398px;
  height:58px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:21px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2104 {
  position:absolute;
  left:41px;
  top:394px;
  width:15px;
  height:15px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2106 {
  position:absolute;
  left:66px;
  top:394px;
  width:57px;
  height:16px;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u2108 {
  position:absolute;
  left:394px;
  top:395px;
  width:17px;
  height:15px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
