body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1291px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:428px;
}
#u3798 {
  position:absolute;
  left:50px;
  top:272px;
  width:382px;
  height:428px;
}
#u3799 {
  position:absolute;
  left:2px;
  top:206px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3800 {
  position:absolute;
  left:50px;
  top:100px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3801 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3802 {
  position:absolute;
  left:50px;
  top:221px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3803 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3804 {
  position:absolute;
  left:50px;
  top:160px;
  width:295px;
  height:16px;
}
#u3805 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u3806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3806 {
  position:absolute;
  left:510px;
  top:272px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3807 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3808 {
  position:absolute;
  left:550px;
  top:274px;
  width:358px;
  height:16px;
}
#u3809 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3810 {
  position:absolute;
  left:510px;
  top:392px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3811 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3812 {
  position:absolute;
  left:550px;
  top:394px;
  width:358px;
  height:120px;
  line-height:20px;
}
#u3813 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3814 {
  position:absolute;
  left:510px;
  top:318px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3815 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3816 {
  position:absolute;
  left:550px;
  top:320px;
  width:358px;
  height:40px;
  line-height:20px;
}
#u3817 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3818 {
  position:absolute;
  left:260px;
  top:340px;
  width:0px;
  height:0px;
}
#u3818_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u3818_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:178px;
  height:8px;
}
#u3818_seg2 {
  position:absolute;
  left:166px;
  top:-62px;
  width:8px;
  height:66px;
}
#u3818_seg3 {
  position:absolute;
  left:166px;
  top:-62px;
  width:84px;
  height:8px;
}
#u3818_seg4 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u3818_seg5 {
  position:absolute;
  left:237px;
  top:-68px;
  width:20px;
  height:20px;
}
#u3819 {
  position:absolute;
  left:104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3820 {
  position:absolute;
  left:70px;
  top:350px;
  width:0px;
  height:0px;
}
#u3820_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u3820_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:378px;
  height:8px;
}
#u3820_seg2 {
  position:absolute;
  left:366px;
  top:-26px;
  width:8px;
  height:40px;
}
#u3820_seg3 {
  position:absolute;
  left:366px;
  top:-26px;
  width:74px;
  height:8px;
}
#u3820_seg4 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u3820_seg5 {
  position:absolute;
  left:427px;
  top:-32px;
  width:20px;
  height:20px;
}
#u3821 {
  position:absolute;
  left:181px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:428px;
}
#u3822 {
  position:absolute;
  left:50px;
  top:792px;
  width:382px;
  height:428px;
}
#u3823 {
  position:absolute;
  left:2px;
  top:206px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:428px;
}
#u3824 {
  position:absolute;
  left:908px;
  top:792px;
  width:383px;
  height:428px;
}
#u3825 {
  position:absolute;
  left:2px;
  top:206px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3826 {
  position:absolute;
  left:400px;
  top:540px;
  width:0px;
  height:0px;
}
#u3826_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u3826_seg1 {
  position:absolute;
  left:46px;
  top:-142px;
  width:8px;
  height:146px;
}
#u3826_seg2 {
  position:absolute;
  left:46px;
  top:-142px;
  width:64px;
  height:8px;
}
#u3826_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3826_seg4 {
  position:absolute;
  left:97px;
  top:-148px;
  width:20px;
  height:20px;
}
#u3827 {
  position:absolute;
  left:0px;
  top:-82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3828 {
  position:absolute;
  left:510px;
  top:540px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3829 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3830 {
  position:absolute;
  left:550px;
  top:542px;
  width:358px;
  height:16px;
  color:#FF0000;
}
#u3831 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3832 {
  position:absolute;
  left:50px;
  top:740px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3833 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3834 {
  position:absolute;
  left:510px;
  top:792px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3835 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3836 {
  position:absolute;
  left:550px;
  top:794px;
  width:358px;
  height:16px;
}
#u3837 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3838 {
  position:absolute;
  left:510px;
  top:848px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3839 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3840 {
  position:absolute;
  left:550px;
  top:850px;
  width:358px;
  height:20px;
  line-height:20px;
}
#u3841 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3842 {
  position:absolute;
  left:510px;
  top:908px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3843 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3844 {
  position:absolute;
  left:550px;
  top:910px;
  width:358px;
  height:20px;
  line-height:20px;
}
#u3845 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3846 {
  position:absolute;
  left:420px;
  top:1000px;
  width:0px;
  height:0px;
}
#u3846_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u3846_seg1 {
  position:absolute;
  left:16px;
  top:-86px;
  width:8px;
  height:90px;
}
#u3846_seg2 {
  position:absolute;
  left:16px;
  top:-86px;
  width:74px;
  height:8px;
}
#u3846_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3846_seg4 {
  position:absolute;
  left:77px;
  top:-92px;
  width:20px;
  height:20px;
}
#u3847 {
  position:absolute;
  left:-30px;
  top:-74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3848 {
  position:absolute;
  left:510px;
  top:970px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3849 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3850 {
  position:absolute;
  left:550px;
  top:972px;
  width:358px;
  height:20px;
  line-height:20px;
}
#u3851 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3852 {
  position:absolute;
  left:908px;
  top:741px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3853 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3854 {
  position:absolute;
  left:510px;
  top:1030px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3855 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3856 {
  position:absolute;
  left:550px;
  top:1032px;
  width:358px;
  height:20px;
  line-height:20px;
}
#u3857 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3858 {
  position:absolute;
  left:510px;
  top:1088px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3859 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  line-height:20px;
}
#u3860 {
  position:absolute;
  left:550px;
  top:1090px;
  width:358px;
  height:20px;
  color:#FF0000;
  line-height:20px;
}
#u3861 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3862 {
  position:absolute;
  left:420px;
  top:1050px;
  width:0px;
  height:0px;
}
#u3862_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u3862_seg1 {
  position:absolute;
  left:36px;
  top:-74px;
  width:8px;
  height:78px;
}
#u3862_seg2 {
  position:absolute;
  left:36px;
  top:-74px;
  width:54px;
  height:8px;
}
#u3862_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3862_seg4 {
  position:absolute;
  left:77px;
  top:-80px;
  width:20px;
  height:20px;
}
#u3863 {
  position:absolute;
  left:-10px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3864 {
  position:absolute;
  left:930px;
  top:1000px;
  width:0px;
  height:0px;
}
#u3864_seg0 {
  position:absolute;
  left:-34px;
  top:-4px;
  width:34px;
  height:8px;
}
#u3864_seg1 {
  position:absolute;
  left:-34px;
  top:-4px;
  width:8px;
  height:48px;
}
#u3864_seg2 {
  position:absolute;
  left:-140px;
  top:36px;
  width:114px;
  height:8px;
}
#u3864_seg3 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3864_seg4 {
  position:absolute;
  left:-147px;
  top:30px;
  width:20px;
  height:20px;
}
#u3865 {
  position:absolute;
  left:-100px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
