body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:428px;
}
#u3595 {
  position:absolute;
  left:59px;
  top:50px;
  width:363px;
  height:428px;
}
#u3596 {
  position:absolute;
  left:2px;
  top:206px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:430px;
}
#u3597 {
  position:absolute;
  left:466px;
  top:50px;
  width:364px;
  height:430px;
}
#u3598 {
  position:absolute;
  left:2px;
  top:207px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
