body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1291px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:428px;
}
#u3908 {
  position:absolute;
  left:50px;
  top:272px;
  width:382px;
  height:428px;
}
#u3909 {
  position:absolute;
  left:2px;
  top:206px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3910 {
  position:absolute;
  left:50px;
  top:100px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3911 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3912 {
  position:absolute;
  left:50px;
  top:221px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3913 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3914 {
  position:absolute;
  left:50px;
  top:160px;
  width:295px;
  height:16px;
}
#u3915 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u3916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3916 {
  position:absolute;
  left:510px;
  top:272px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3917 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3918 {
  position:absolute;
  left:550px;
  top:274px;
  width:358px;
  height:16px;
}
#u3919 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3920 {
  position:absolute;
  left:510px;
  top:392px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3921 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3922 {
  position:absolute;
  left:550px;
  top:394px;
  width:358px;
  height:120px;
  line-height:20px;
}
#u3923 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3924 {
  position:absolute;
  left:510px;
  top:318px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3925 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3926 {
  position:absolute;
  left:550px;
  top:320px;
  width:358px;
  height:40px;
  line-height:20px;
}
#u3927 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3928 {
  position:absolute;
  left:260px;
  top:340px;
  width:0px;
  height:0px;
}
#u3928_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u3928_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:178px;
  height:8px;
}
#u3928_seg2 {
  position:absolute;
  left:166px;
  top:-62px;
  width:8px;
  height:66px;
}
#u3928_seg3 {
  position:absolute;
  left:166px;
  top:-62px;
  width:84px;
  height:8px;
}
#u3928_seg4 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u3928_seg5 {
  position:absolute;
  left:237px;
  top:-68px;
  width:20px;
  height:20px;
}
#u3929 {
  position:absolute;
  left:104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3930 {
  position:absolute;
  left:70px;
  top:350px;
  width:0px;
  height:0px;
}
#u3930_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u3930_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:378px;
  height:8px;
}
#u3930_seg2 {
  position:absolute;
  left:366px;
  top:-26px;
  width:8px;
  height:40px;
}
#u3930_seg3 {
  position:absolute;
  left:366px;
  top:-26px;
  width:74px;
  height:8px;
}
#u3930_seg4 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u3930_seg5 {
  position:absolute;
  left:427px;
  top:-32px;
  width:20px;
  height:20px;
}
#u3931 {
  position:absolute;
  left:181px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:428px;
}
#u3932 {
  position:absolute;
  left:50px;
  top:792px;
  width:382px;
  height:428px;
}
#u3933 {
  position:absolute;
  left:2px;
  top:206px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:428px;
}
#u3934 {
  position:absolute;
  left:908px;
  top:792px;
  width:383px;
  height:428px;
}
#u3935 {
  position:absolute;
  left:2px;
  top:206px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3936 {
  position:absolute;
  left:400px;
  top:540px;
  width:0px;
  height:0px;
}
#u3936_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u3936_seg1 {
  position:absolute;
  left:46px;
  top:-142px;
  width:8px;
  height:146px;
}
#u3936_seg2 {
  position:absolute;
  left:46px;
  top:-142px;
  width:64px;
  height:8px;
}
#u3936_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3936_seg4 {
  position:absolute;
  left:97px;
  top:-148px;
  width:20px;
  height:20px;
}
#u3937 {
  position:absolute;
  left:0px;
  top:-82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3938 {
  position:absolute;
  left:510px;
  top:540px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3939 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3940 {
  position:absolute;
  left:550px;
  top:542px;
  width:358px;
  height:16px;
  color:#FF0000;
}
#u3941 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3942 {
  position:absolute;
  left:50px;
  top:740px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3943 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3944 {
  position:absolute;
  left:510px;
  top:792px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3945 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3946 {
  position:absolute;
  left:550px;
  top:794px;
  width:358px;
  height:16px;
}
#u3947 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3948 {
  position:absolute;
  left:510px;
  top:848px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3949 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3950 {
  position:absolute;
  left:550px;
  top:850px;
  width:358px;
  height:20px;
  line-height:20px;
}
#u3951 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3952 {
  position:absolute;
  left:510px;
  top:908px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3953 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3954 {
  position:absolute;
  left:550px;
  top:910px;
  width:358px;
  height:20px;
  line-height:20px;
}
#u3955 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3956 {
  position:absolute;
  left:420px;
  top:1000px;
  width:0px;
  height:0px;
}
#u3956_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u3956_seg1 {
  position:absolute;
  left:16px;
  top:-86px;
  width:8px;
  height:90px;
}
#u3956_seg2 {
  position:absolute;
  left:16px;
  top:-86px;
  width:74px;
  height:8px;
}
#u3956_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3956_seg4 {
  position:absolute;
  left:77px;
  top:-92px;
  width:20px;
  height:20px;
}
#u3957 {
  position:absolute;
  left:-30px;
  top:-74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3958 {
  position:absolute;
  left:510px;
  top:970px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3959 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3960 {
  position:absolute;
  left:550px;
  top:972px;
  width:358px;
  height:20px;
  line-height:20px;
}
#u3961 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3962 {
  position:absolute;
  left:908px;
  top:741px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3963 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3964 {
  position:absolute;
  left:510px;
  top:1030px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3965 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3966 {
  position:absolute;
  left:550px;
  top:1032px;
  width:358px;
  height:20px;
  line-height:20px;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3968 {
  position:absolute;
  left:510px;
  top:1088px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3969 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  line-height:20px;
}
#u3970 {
  position:absolute;
  left:550px;
  top:1090px;
  width:358px;
  height:20px;
  color:#FF0000;
  line-height:20px;
}
#u3971 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3972 {
  position:absolute;
  left:420px;
  top:1050px;
  width:0px;
  height:0px;
}
#u3972_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u3972_seg1 {
  position:absolute;
  left:36px;
  top:-74px;
  width:8px;
  height:78px;
}
#u3972_seg2 {
  position:absolute;
  left:36px;
  top:-74px;
  width:54px;
  height:8px;
}
#u3972_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3972_seg4 {
  position:absolute;
  left:77px;
  top:-80px;
  width:20px;
  height:20px;
}
#u3973 {
  position:absolute;
  left:-10px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974 {
  position:absolute;
  left:930px;
  top:1000px;
  width:0px;
  height:0px;
}
#u3974_seg0 {
  position:absolute;
  left:-34px;
  top:-4px;
  width:34px;
  height:8px;
}
#u3974_seg1 {
  position:absolute;
  left:-34px;
  top:-4px;
  width:8px;
  height:48px;
}
#u3974_seg2 {
  position:absolute;
  left:-140px;
  top:36px;
  width:114px;
  height:8px;
}
#u3974_seg3 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3974_seg4 {
  position:absolute;
  left:-147px;
  top:30px;
  width:20px;
  height:20px;
}
#u3975 {
  position:absolute;
  left:-100px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
