body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:295px;
}
#u3976 {
  position:absolute;
  left:90px;
  top:205px;
  width:365px;
  height:295px;
}
#u3977 {
  position:absolute;
  left:2px;
  top:140px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3978 {
  position:absolute;
  left:510px;
  top:272px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3979 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3980 {
  position:absolute;
  left:550px;
  top:274px;
  width:358px;
  height:16px;
}
#u3981 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3982 {
  position:absolute;
  left:510px;
  top:330px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3983 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3984 {
  position:absolute;
  left:550px;
  top:332px;
  width:358px;
  height:16px;
}
#u3985 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3986 {
  position:absolute;
  left:510px;
  top:390px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3987 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3988 {
  position:absolute;
  left:550px;
  top:392px;
  width:430px;
  height:60px;
  line-height:20px;
}
#u3989 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u3990 {
  position:absolute;
  left:240px;
  top:340px;
  width:0px;
  height:0px;
}
#u3990_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u3990_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:228px;
  height:8px;
}
#u3990_seg2 {
  position:absolute;
  left:216px;
  top:-62px;
  width:8px;
  height:66px;
}
#u3990_seg3 {
  position:absolute;
  left:216px;
  top:-62px;
  width:54px;
  height:8px;
}
#u3990_seg4 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u3990_seg5 {
  position:absolute;
  left:257px;
  top:-68px;
  width:20px;
  height:20px;
}
#u3991 {
  position:absolute;
  left:114px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992 {
  position:absolute;
  left:370px;
  top:370px;
  width:0px;
  height:0px;
}
#u3992_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u3992_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:108px;
  height:8px;
}
#u3992_seg2 {
  position:absolute;
  left:96px;
  top:-34px;
  width:8px;
  height:38px;
}
#u3992_seg3 {
  position:absolute;
  left:96px;
  top:-34px;
  width:44px;
  height:8px;
}
#u3992_seg4 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u3992_seg5 {
  position:absolute;
  left:127px;
  top:-40px;
  width:20px;
  height:20px;
}
#u3993 {
  position:absolute;
  left:35px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3994 {
  position:absolute;
  left:510px;
  top:478px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3995 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3996 {
  position:absolute;
  left:550px;
  top:480px;
  width:430px;
  height:80px;
  line-height:20px;
}
#u3997 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
