body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:295px;
}
#u3866 {
  position:absolute;
  left:90px;
  top:205px;
  width:365px;
  height:295px;
}
#u3867 {
  position:absolute;
  left:2px;
  top:140px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3868 {
  position:absolute;
  left:510px;
  top:272px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3869 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3870 {
  position:absolute;
  left:550px;
  top:274px;
  width:358px;
  height:16px;
}
#u3871 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3872 {
  position:absolute;
  left:510px;
  top:330px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3873 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3874 {
  position:absolute;
  left:550px;
  top:332px;
  width:358px;
  height:16px;
}
#u3875 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3876 {
  position:absolute;
  left:510px;
  top:390px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3877 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3878 {
  position:absolute;
  left:550px;
  top:392px;
  width:430px;
  height:60px;
  line-height:20px;
}
#u3879 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u3880 {
  position:absolute;
  left:240px;
  top:340px;
  width:0px;
  height:0px;
}
#u3880_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u3880_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:228px;
  height:8px;
}
#u3880_seg2 {
  position:absolute;
  left:216px;
  top:-62px;
  width:8px;
  height:66px;
}
#u3880_seg3 {
  position:absolute;
  left:216px;
  top:-62px;
  width:54px;
  height:8px;
}
#u3880_seg4 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u3880_seg5 {
  position:absolute;
  left:257px;
  top:-68px;
  width:20px;
  height:20px;
}
#u3881 {
  position:absolute;
  left:114px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3882 {
  position:absolute;
  left:370px;
  top:370px;
  width:0px;
  height:0px;
}
#u3882_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u3882_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:108px;
  height:8px;
}
#u3882_seg2 {
  position:absolute;
  left:96px;
  top:-34px;
  width:8px;
  height:38px;
}
#u3882_seg3 {
  position:absolute;
  left:96px;
  top:-34px;
  width:44px;
  height:8px;
}
#u3882_seg4 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u3882_seg5 {
  position:absolute;
  left:127px;
  top:-40px;
  width:20px;
  height:20px;
}
#u3883 {
  position:absolute;
  left:35px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3884 {
  position:absolute;
  left:510px;
  top:478px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3885 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3886 {
  position:absolute;
  left:550px;
  top:480px;
  width:430px;
  height:80px;
  line-height:20px;
}
#u3887 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
