body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:713px;
}
#u1338 {
  position:absolute;
  left:12px;
  top:0px;
  width:398px;
  height:713px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:348px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:173px;
}
#u1340 {
  position:absolute;
  left:40px;
  top:168px;
  width:343px;
  height:173px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:78px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1342 {
  position:absolute;
  left:510px;
  top:154px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u1343 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1344 {
  position:absolute;
  left:550px;
  top:156px;
  width:400px;
  height:32px;
}
#u1345 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1346 {
  position:absolute;
  left:510px;
  top:200px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u1347 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1348 {
  position:absolute;
  left:550px;
  top:202px;
  width:400px;
  height:16px;
}
#u1349 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u1350 {
  position:absolute;
  left:185px;
  top:28px;
  width:53px;
  height:53px;
}
#u1351 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
  background:inherit;
  background-color:rgba(251, 71, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFD9B9;
}
#u1352 {
  position:absolute;
  left:150px;
  top:81px;
  width:122px;
  height:38px;
  font-size:14px;
  color:#FFD9B9;
}
#u1353 {
  position:absolute;
  left:2px;
  top:11px;
  width:118px;
  word-wrap:break-word;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u1354 {
  position:absolute;
  left:90px;
  top:355px;
  width:270px;
  height:29px;
  font-size:18px;
  text-align:left;
}
#u1355 {
  position:absolute;
  left:2px;
  top:4px;
  width:266px;
  word-wrap:break-word;
}
#u1356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1356 {
  position:absolute;
  left:120px;
  top:636px;
  width:270px;
  height:29px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1357 {
  position:absolute;
  left:2px;
  top:5px;
  width:266px;
  word-wrap:break-word;
}
#u1358 {
  position:absolute;
  left:238px;
  top:55px;
  width:0px;
  height:0px;
}
#u1358_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:216px;
  height:8px;
}
#u1358_seg1 {
  position:absolute;
  left:208px;
  top:-4px;
  width:8px;
  height:117px;
}
#u1358_seg2 {
  position:absolute;
  left:208px;
  top:105px;
  width:64px;
  height:8px;
}
#u1358_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1358_seg4 {
  position:absolute;
  left:259px;
  top:99px;
  width:20px;
  height:20px;
}
#u1359 {
  position:absolute;
  left:140px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360 {
  position:absolute;
  left:270px;
  top:520px;
  width:0px;
  height:0px;
}
#u1360_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:184px;
  height:8px;
}
#u1360_seg1 {
  position:absolute;
  left:176px;
  top:-314px;
  width:8px;
  height:318px;
}
#u1360_seg2 {
  position:absolute;
  left:176px;
  top:-314px;
  width:64px;
  height:8px;
}
#u1360_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1360_seg4 {
  position:absolute;
  left:227px;
  top:-320px;
  width:20px;
  height:20px;
}
#u1361 {
  position:absolute;
  left:130px;
  top:-103px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
