body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:881px;
}
#u2168 {
  position:absolute;
  left:7px;
  top:217px;
  width:449px;
  height:881px;
}
#u2169 {
  position:absolute;
  left:2px;
  top:432px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:881px;
}
#u2171 {
  position:absolute;
  left:7px;
  top:59px;
  width:449px;
  height:881px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:432px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:47px;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:47px;
}
#u2174 {
  position:absolute;
  left:2px;
  top:16px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u2175 {
  position:absolute;
  left:52px;
  top:10px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u2176 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:866px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2177 {
  position:absolute;
  left:29px;
  top:130px;
  width:400px;
  height:866px;
}
#u2178 {
  position:absolute;
  left:2px;
  top:425px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2179 {
  position:absolute;
  left:30px;
  top:131px;
  width:398px;
  height:50px;
  font-size:14px;
}
#u2180 {
  position:absolute;
  left:2px;
  top:17px;
  width:394px;
  word-wrap:break-word;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2181 {
  position:absolute;
  left:37px;
  top:139px;
  width:30px;
  height:30px;
}
#u2182 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:120px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2183 {
  position:absolute;
  left:326px;
  top:141px;
  width:95px;
  height:25px;
}
#u2184 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2185 {
  position:absolute;
  left:390px;
  top:146px;
  width:16px;
  height:16px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u2187 {
  position:absolute;
  left:348px;
  top:150px;
  width:8px;
  height:8px;
}
#u2188 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2189 {
  position:absolute;
  left:340px;
  top:152px;
  width:4px;
  height:4px;
}
#u2190 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2191 {
  position:absolute;
  left:360px;
  top:152px;
  width:4px;
  height:4px;
}
#u2192 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u2193 {
  position:absolute;
  left:374px;
  top:144px;
  width:1px;
  height:18px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:174px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  font-size:14px;
}
#u2195 {
  position:absolute;
  left:30px;
  top:196px;
  width:398px;
  height:174px;
  font-size:14px;
}
#u2196 {
  position:absolute;
  left:2px;
  top:79px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2197 {
  position:absolute;
  left:510px;
  top:194px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2198 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2199 {
  position:absolute;
  left:550px;
  top:196px;
  width:400px;
  height:16px;
}
#u2200 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2201 {
  position:absolute;
  left:510px;
  top:240px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2202 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2203 {
  position:absolute;
  left:550px;
  top:242px;
  width:400px;
  height:16px;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u2205 {
  position:absolute;
  left:37px;
  top:210px;
  width:383px;
  height:150px;
  line-height:24px;
}
#u2206 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  word-wrap:break-word;
}
#u2207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  font-size:14px;
}
#u2207 {
  position:absolute;
  left:30px;
  top:389px;
  width:398px;
  height:137px;
  font-size:14px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:60px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u2209 {
  position:absolute;
  left:37px;
  top:403px;
  width:383px;
  height:130px;
  line-height:24px;
}
#u2210 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  word-wrap:break-word;
}
#u2211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  font-size:14px;
}
#u2211 {
  position:absolute;
  left:30px;
  top:543px;
  width:398px;
  height:123px;
  font-size:14px;
}
#u2212 {
  position:absolute;
  left:2px;
  top:54px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u2213 {
  position:absolute;
  left:37px;
  top:557px;
  width:383px;
  height:99px;
  line-height:24px;
}
#u2214 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  word-wrap:break-word;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  font-size:14px;
}
#u2215 {
  position:absolute;
  left:30px;
  top:690px;
  width:398px;
  height:103px;
  font-size:14px;
}
#u2216 {
  position:absolute;
  left:2px;
  top:44px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u2217 {
  position:absolute;
  left:37px;
  top:704px;
  width:383px;
  height:79px;
  line-height:24px;
}
#u2218 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  word-wrap:break-word;
}
#u2219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  font-size:14px;
}
#u2219 {
  position:absolute;
  left:30px;
  top:810px;
  width:398px;
  height:103px;
  font-size:14px;
}
#u2220 {
  position:absolute;
  left:2px;
  top:44px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u2221 {
  position:absolute;
  left:37px;
  top:824px;
  width:383px;
  height:79px;
  line-height:24px;
}
#u2222 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  word-wrap:break-word;
}
#u2223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2223 {
  position:absolute;
  left:29px;
  top:946px;
  width:400px;
  height:50px;
}
#u2224 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2225 {
  position:absolute;
  left:144px;
  top:951px;
  width:170px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2226 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
